body,
html {
  height: 100%;
  background: #fff url(./bg.jpg);
}

.slot-machine {
}

.title {
  color: #fff;
  text-align: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.img-pay-table {
  max-height: 50px;
  max-width: 50px;
}
.reel-container {
  position: relative;
  overflow: hidden;
  height: 384px;
  max-width: 724px;
  display: flex;
  transition: 0.3s -webkit-transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
  background: url(./slot-bg.png);
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .reel-container {
    max-width: 320px;
    background-size: 100% 100%;
  }
}

.red-line {
  max-width: 700px;
  left: 5px;
  position: relative;
  width: 100%;
  background-color: #ff000040;
  height: 110px;
  margin-bottom: -110px;
  margin-left: auto;
  margin-right: auto;
}

.red-line-BOTTOM {
  top: -140px;
}

.red-line-MIDDLE {
  top: -230px;
}

.red-line-TOP {
  top: -330px;
}

.blink_me {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
